/*                KEY POSITIONS

╭─────────────────────────┬─────────────────────────╮
│ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
│ LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 │
│ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
            ╰─────────────┴─────────────╯            
*/
          
// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <150>;

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

/* func start */

/* Vertical combos - left hand */
ZMK_COMBO(alt_l,        &kp LEFT_ALT,       LM1 LH1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_SLOW)
ZMK_COMBO(gui_alt_l,    &kp LG(LEFT_ALT),   LM2 LH1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_SLOW)
ZMK_COMBO(gui_ctrl_l,   &kp LG(LCTRL),      LM3 LH1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_SLOW)
ZMK_COMBO(alt_ctrl_l,   &kp LA(LCTRL),      LM4 LH1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_SLOW)

/* Horizontal combos - left hand */
ZMK_COMBO(esc_l,        &kp ESC,            LM2 LM1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(ctrl_a_l,     &kp LC(A),          LM3 LM2,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)

/* Vertical combos - right hand */
ZMK_COMBO(alt_r,        &kp RALT,           RM1 RH1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_SLOW)
ZMK_COMBO(gui_alt_r,    &kp RG(RIGHT_ALT),  RM2 RH1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_SLOW)
ZMK_COMBO(gui_ctrl_r,   &kp RG(RCTRL),      RM3 RH1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_SLOW)
ZMK_COMBO(alt_ctrl_r,   &kp RA(RCTRL),      RM4 RH1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_SLOW)

/* Horizontal combos - right hand */
ZMK_COMBO(esc_r,        &kp ESC,            RM2 RM1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(ctrl_a_r,     &kp RC(A),          RM3 RM2,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)

/* func end */


/* system & layer start */

ZMK_COMBO(lqwerty,      &tog BASE_QWERTY,   LT0 LM0 LB0,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(rqwerty,      &tog BASE_QWERTY,   RT0 RM0 RB0,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(lcolemak,     &tog BASE_COLEMAK,  LT1 LM1 LB1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(rcolemak,     &tog BASE_COLEMAK,  RT1 RM1 RB1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(ldvorak,      &tog BASE_DVORAK,   LT2 LM2 LB2,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(rdvorak,      &tog BASE_DVORAK,   RT2 RM2 RB2,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
#ifdef HAS_MOUSE_TP
// mouse_settings
ZMK_COMBO(lms,          &tog MOUSE_SET,     LT3 LM3 LB3,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(rms,          &tog MOUSE_SET,     RT3 RM3 RB3,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
#endif
ZMK_COMBO(lmedia,       &tog MEDIA_EXT,     LT4 LM4 LB4,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(rmedia,       &tog MEDIA_EXT,     RT4 RM4 RB4,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(lsys,         &tog SYS,           LT5 LM5 LB5,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(rsys,         &tog SYS,           RT5 RM5 RB5,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
// shortcut
ZMK_COMBO(lsc1,         &mo RAYCAST_SHORTCUT_1,     LB2 LB1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(lsc2,         &mo RAYCAST_SHORTCUT_2,     LT2 LT1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(lsc3,         &mo RAYCAST_SHORTCUT_1,     LH0 LM1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(lsc4,         &mo RAYCAST_SHORTCUT_2,     LH0 LM2,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(rsc1,         &mo RAYCAST_SHORTCUT_1,     RB2 RB1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(rsc2,         &mo RAYCAST_SHORTCUT_2,     RT2 RT1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(rsc3,         &mo RAYCAST_SHORTCUT_1,     RH0 RM1,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)
ZMK_COMBO(rsc4,         &mo RAYCAST_SHORTCUT_2,     RH0 RM2,    BASE_QWERTY BASE_COLEMAK BASE_DVORAK, COMBO_TERM_FAST)

/* system & layer end */
